<div class="bg-slate-300 pb-10">
  <h1 class="pt-20 mb-10 text-4xl font-bold flex justify-center">
    Listado de productos
  </h1>
  <div class="flex justify-end mr-5 sm:mr-20">
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      routerLink="/add"
    >
      Add product
    </button>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg sm:mx-20">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Product name</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Stock</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (product of productsList; track $index) {
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ product.name }}
          </th>
          <td class="px-6 py-4">{{ product.description }}</td>
          <td class="px-6 py-4">{{ product.stock }}</td>
          <td class="px-6 py-4">{{ product.price }}</td>
          <td class="px-6 py-4 flex justify-between">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              routerLink="/edit/{{ product.id }}"
              >Edit</a
            >
            <a href="#"><i class="fas fa-trash trash-icon"></i></a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
